html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: sans-serif;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.headericon {
  min-width: 2%;
  min-height: 2%;
  width: 2%;
  height: 2%;
  margin: 1%;
  box-sizing: border-box;
  box-shadow: 2px 2px #feb6d8;
  float: left;
  transition: transform .3s;
  }
}

.top-icons {
    width: 100%;
    padding: 5px 0;
    margin: 0;
}

.headerflag {
  min-width: 2%;
  min-height: 2%;
  width: 2.5%;
  height: 2.5%;
  margin: 1%;
  box-sizing: border-box;
  box-shadow: 2px 2px #feb6d8;
  float: right;
  transition: transform .3s;
  display: inline-block;
  }

.headerflag:hover {
  transform: scale(1.6) rotate(360deg);
}

.headericon {
  min-width: 2%;
  min-height: 2%;
  width: 2%;
  height: 2%;
  margin: 1%;
  box-sizing: border-box;
  box-shadow: 2px 2px #feb6d8;
  float: left;
  transition: transform .3s;
  display: inline-block;
  }

.headericon:hover {
  transform: scale(1.6) rotate(360deg);
}


*/
.menu ul {
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-left: 13%;
}

.nav-item {
  display: inline-block;
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  padding: 25px;
}

.navigation a {
  text-decoration: none;
  color: #000000;;
  padding: 15px;;
  margin-left: -4px;
}

.nav-item a:hover {
  color: #feb6d8;
}
.menu li {
  transition: transform .2s;
}
.menu li:hover {
  transform: scale(1.2);
}

.menu {
  width: 100%;
}

.container {
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.5);
}

#title {
  padding-top: 8%;
  padding-bottom: 20px;
  display: block;
  text-align: center;
  color: #feb6d8;
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 300%;

}
/*--Termina o header--*/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }

.galleria {
	position: relative;
	overflow: hidden;
}

/*--SLIDER--*/

.galleria .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/*--SLIDES--*/

.galleria .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

.galleria .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.galleria .prevNext > div+div {
	visibility: hidden;
}

.galleria .prevNext a {
	background: #f1a6a1;
	position: absolute;
	width:       40px;
	height:      40px;
	line-height: 40px;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.galleria .prevNext a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.galleria .prevNext a+a {
	left: auto;
	right: 0;
}

/*--NAVIGATION--*/

.galleria >s:target ~ .prevNext >* {   visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}


#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.galleria .slides {
  opacity: 0.9;
}


.galleria{
	color: #ffffff;
	text-align: center;
}
.galleria .slider h2 {
	margin-top: 40vh;
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 600;
	font-size: 300%;
  color: #f1a6a1;
  text-shadow: 2px 2px #111111;
}

.galleria .slider p {
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 400;
	font-size: 150%;
}

.prevNext a {
  border-radius: 50%;
	margin: 0 3px;
  color: #ffffff;
	text-decoration: none;
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 400;
	font-size: 110%;
}


.slidelink a {
  color: #ffffff;
  background-color: #f1a6a1;
  padding: 15px;
}

.slidelink a:hover {
  color: #f1a6a1;
  background-color: #ffffff;
}



/*--FOOTER--*/

footer {
  width: 100%;
  clear: both;
  position: relative;
  background-color: #f1a6a1;
  border-top-style: solid;
  border-top-color: #ccc;
}

.copyright p {
  border: 0;
  margin: 0;
  padding: 0.5%;
	font-size: 70%;
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}



@media screen and (max-width: 610px) {
            .nav-item {
              display: block;
              width: 100%;
            }
         }
